$icon-font-path: "../bower_components/bootstrap/dist/fonts/bootstrap/";
// bower:scss
/*@import "bow/../../bootstrap/dist/css/bootstrap.css";*/
// endbower

/*variables*/

/*header*/
$header-background: #22313F;
$header-color: #E4F1FE;
$header-title: #E4F1FE;
$header-bg-active: #6C7A89;
$header-color-active: #E4F1FE;
/*body*/
$background-color: #ABB7B7;
$page-title: #22313F;
$hover-color: #D2D7D3;
$menu-bg: #22313F;
$option-bg: #6C7A89;
$option-txt: white;

/*answer colors*/
$green-bg: #00B16A;
$green-txt: #fff;
$red-bg: #F64747;
$red-txt: #fff;



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: $background-color;
}

*, span {
  color: white;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
  background: $header-background;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar-default {
  background: $header-background;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $hover-color;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a:hover {
  background: $header-bg-active;
  color: $header-color-active;
}

/*navbar title of the page*/
.navbar-default .navbar-brand {
  color: $header-title;
}

.question-nav a:hover {
  color: none;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: $menu-bg;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}




/*Checkbox styling*/

.answer {
  float: left;
  width: 45%;
  text-align: center;
  margin: 2%;
  background: $option-bg;
  border: none;
}

.answer label {
  cursor: pointer;
  margin: 0;
  display: block;
  height: 100%;
  padding: 10px 0;
  
}

.answer label h4 {
  color: $option-txt;
}

.question-image {
  max-width: 100%;
  margin-bottom: 20px;
}

h3 { padding: 10px 0; margin: 0; }

/*custom checkbox-style*/

div > input[type=checkbox]{
    display:none
}

.answer.blue:hover{
    background: $hover-color;
}


div > input[type=checkbox]:checked + .green{
    background-color: $green-bg;
    color: $green-txt;
    animation: pulse 0.8s 3;
    -webkit-animation: pulse 0.8s 2;
}

div > input[type=checkbox]:checked + .red{
    background-color: $red-bg;
    color: $red-txt;
}

/*animation that pulsates*/
@-webkit-keyframes pulse {
  0%      { transform:scale(1); }
  25%     { transform:scale(1.2); }
  75%     { transform:scale(1); }
}
@-moz-keyframes pulse {
  0%      { transform:scale(1); }
  25%     { transform:scale(1.2); }
  75%     { transform:scale(1); }
}
@keyframes pulse {
  0%      { transform:scale(1); }
  25%     { transform:scale(1.2); }
  75%     { transform:scale(1); }
}


/*overwrites the bootstrap link color*/
.navbar-default .navbar-nav > .right > a {
  color: white;
}
.navbar-default .navbar-nav > .wrong > a {
  color: white;
}

.right { 
  background: $green-bg;
}
.wrong {
  background: $red-bg;
}

.question-text h4 {
  color: white;
}

.question-nav {
  background: $menu-bg;
  border: none;
}

.quiz-title {
  text-align: center;
  margin-bottom: 20px;
  color: $page-title;
  font-weight: bold;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*Resonsive: mobile friendly*/

@media screen and (max-width: 500px) {

  .quiz-title {
    font-size: 2.5em;
  }

  .question-text h3 {
    font-size: 2em;
  }

  .question-text span {
    font-size: 1.7em;
  }

  .question-nav {
    display: none;
  }

  .answer {
    /*float: none;*/
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .answer label h4 {
    font-size: 2em;
  }

}